---
import { Image } from "astro:assets";
import Card from "../ui/Card.astro";
import Section from "./Section.astro";
import SectionTitle from "../ui/SectionTitle.astro";

import larrow from "../../assets/icon3.svg";

const cards = [
  {
    index: 0,
    title:
      "Completed a full electrical rewiring for a local restaurant, improving safety and reducing energy costs by 30%.",
    link: "#",
  },
  {
    index: 1,
    title:
      "Installed a modern lighting system for a commercial office, enhancing workspace brightness and lowering monthly bills.",
    link: "#",
  },
  {
    index: 2,
    title:
      "Provided 24/7 emergency repair for a residential building, restoring power within hours and preventing further damage.",
    link: "#",
  },
];
---



<Section id="cases">
  <SectionTitle
    sectionTitle="Case Studies"
    description="Discover real-life examples of our trusted electrical work, showcasing successful installations, repairs, and emergency solutions we’ve delivered for homes and businesses."
  />

  <div class="flex flex-col lg:flex-row justify-between gap-6">
    {cards.map((card) => (
      <Card key={card.index}>
        <div class="flex flex-col p-10 h-full bg-dark text-gray rounded-[45px] gap-5">
          <p>{card.title}</p>
          <a href={card.link} class="flex items-center gap-3 text-green font-medium">
            <span>Case Info</span>
            <Image 
              src={larrow} 
              alt="Arrow pointing up right" 
              class="w-5 h-5"
              loading="eager"
              fetchpriority="high"
            />
          </a>
        </div>
      </Card>
    ))}
  </div>
</Section>
