---
import { Image } from "astro:assets";
import Card from "../ui/Card.astro";
import Section from "./Section.astro";
import c7 from "../../assets/pics/Electrician-1.webp";
---

<Section>
  <Card>
    <div class="flex bg-[#F3F3F3] rounded-[45px] p-[60px] relative mt-[123px] mb-[100px]">
      <div class="w-full md:w-[100%] flex flex-col gap-[26px]">
        <h2 class="text-4xl font-bold">Croydon Electricians</h2>
        <p>
          Our electricians are available 24 hours a day, 7 days a week to handle any situation, including electrical test inspections, diagnostics, fault identification, and more. They are completely certified to perform all forms of domestic and commercial electrical work, from a new plug outlet to a complete or partial rewiring of your home, in a professional and timely manner.

          Any electrical work on your home must be done by a licensed electrician. To satisfy installation and safety laws, all CR9 Electrician Croydon electricians are NICEIC approved and work to British Standard BS 7671.
          
          Our electricians make every effort to cause the least amount of interruption possible and to leave your property clean and tidy after their visit.
        </p>
        <button class="btn-primary md:w-[20%]">Call us now</button>
      </div>
    </div>
  </Card>

  <Card>
    <div class="p-8 md:p-12 grid md:grid-cols-2 gap-12 items-center">
      <div class="rounded-2xl p-8">
        <Image
          src={c7}
          alt="Electrician at work"
          class="h-[300px] w-auto sm:h-auto sm:w-full object-cover"
          widths={[400, 800, 1200, 1600]}
          sizes="(max-width: 768px) 100vw, 50vw"
          loading="eager"
          fetchpriority="high"
        />
      </div>
      <div>
        <h2 class="text-3xl font-medium mb-6">Electrical installation service</h2>
        <p class="mb-6">
          Our Electricians are qualified to install many kinds of electrical installations such as
        </p>
        <ul class="space-y-3 mb-8">
          {[
            "Electrical Relocations",
            "Data Center Electrics",
            "Electrical Generator Installations",
            "Audio and Visual",
            "Data Cabling",
            "PON Networks",
            "Electric Cooker Installation",
            "Lights and Switches"
          ].map((item) => (
            <li class="flex items-start">
              <svg class="mr-2 w-5 h-5 mt-1 text-[#f47629]">
                <use href="#icon-check"></use>
              </svg>
              <span>{item}</span>
            </li>
          ))}
        </ul>
      </div>
    </div>
  </Card>
</Section>
